.modalOverlay {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 60%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    transition: 0.3s transform;
    transform: scale(0.5);
}

.modalOpen {
    transform: scale(1);   // финальное состояние
    opacity: 1;
}


.modalClose {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
