.Sidebar {
    height: 95vh;
    width: 300px;
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s ease-in-out;
}

.collapsed {
    width: 120px;
}

.switchers {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px; // расстояние между переключателями
}

.Sidebar.collapsed .switchers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; // при сжатом сайдбаре — в колонку
    gap: 8px;
}

.lang {
    margin-left: 20px;
}

.collapsedBtn {
    position: absolute;
    right: -40px;
    bottom: 40px;

}

.com {

}